<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="icon.png" />
		<title>Fitted || Workout App</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="main.css">
</head>
<body>
	<div class="jumbotron" id="login">
		<h4><a href="index.html" id="nav">Home</a></h4>
		<br><br><br><h1 id="mainText">Log In</h1>
	</div>
	<div id="container">
		<br><br><h1>Log Into Your Account</h1><br><br>
		<form action="/loginFunc" method="post" id="text">
			Username: <input type="text" name="username" required/><br><br>
			Password: <input type="password" name="password" required/><br><br>
			<input type="submit" value="Log In" id="submit"/>
		</form><br>
		<p style="text-align: center"><%= message %></p>
	</div><br><br><br>
	<h5 id="top"><a href="register.html">Don't have an account? Register!</a></h5>
	<br><br><br><hr>
	<footer class="footer">
    	<br><h5>&copy; 83440 DJ Lim Website.</h5><br>
    	<div class="container" id="footerSec">
			<p>Email: <a href="mailto:lim@byui.edu?Subject=Hello" target="_top">lim12001@byui.edu</a></p>
		</div>
		<div class="container" id="footerSec">
		</div>
	</footer>
</html>